<!--
A detailed list with descriptions per category
Expects:
-   allCategories {Array}
-->
<template name="categoriesOverview">
    {{#each category in categories}}

    {{/each}}
    <table class="ui very simple table">
        <thead>
        <tr>
            <th>Category</th>
            <th>Latest</th>
            <th>Topics</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="ui red ribbon">Test</td>
            <td>Discourse</td>
            <td>Blah blah</td>
            <td>blah blah blah</td>
        </tr>
        </tbody>
    </table>
</template>