<template name="topicsList">
    {{> listControls}}
    <table class="ui very basic table">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Category</th>
            <th>Users</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        {{#each topic in latestTopicsList}}
            <tr>
                <td>
                    {{topic.title}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>