<template name="topicsList">
    {{> listControls}}
    <table class="ui very basic table">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Category</th>
            <th>Users</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Approved</td>
            <td>None</td>
            <td>Replies</td>
            <td>Views</td>
            <td>Activity</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Approved</td>
            <td>None</td>
            <td>Replies</td>
            <td>Views</td>
            <td>Activity</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Approved</td>
            <td>None</td>
            <td>Replies</td>
            <td>Views</td>
            <td>Activity</td>
        </tr>
        </tbody>
    </table>
</template>